*,
*::before,
*::after {
    box-sizing: border-box;    
}
body, html{
    padding: 0;
    margin: 0;
}
body{
    background: #222;
}

#caja1{
    width: 300px;
    height: 50px;
    background: #b53c3c;
    transition-property: all;
    transition-duration: 0.4s;
    transition-timing-function: linear;
}

#caja1:hover{
    background: rgb(170, 222, 170);
    /* transform: translateX(100px); */
    transform: rotate(45deg);
}

#caja2{
    width: 50%;
    height: 50px;
    background: #00ff15;
    border: solid 6px #222;
    transition-property: all;
    transition-duration: 0.4s;
    transition-timing-function: linear;
}

#caja2:hover{
    width: 100%;
    transform: scale(2);
}

#caja3{
    width: 300px;
    height: 50px;
    background: #eeff00;
    cursor: pointer;
    
}

#caja4{
    width: 300px;
    height: 50px;
    background: #0066ff;
    cursor: pointer;
    
}

.bordes{
    border: #222 4px solid;
}

#btn_mo{
    cursor: pointer;
}